@import "../../public/assets/css/bootstrap.min.css"; 
@import "../../public/assets/css/flaticon.css";
@import "../../public/assets/css/tabler-icons.min.css";
@import "../../public/assets/scss/styles.scss"; 