@use 'rs';

/* About CSS */

.about-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;

    @media #{rs.$bp-xl} {
        gap: 20px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 1rem;
        color: var(--Heading);

        @media #{rs.$bp-xl} {
            font-size: 18px;
        }
    }
}

.about-img {
    position: relative;
    border-radius: 18px;

    &::after {
        width: 70%;
        height: 80%;
        content: '';
        position: absolute;
        bottom: -30px;
        left: -30px;
        border-radius: 18px;
        background: #E3E5FD;
        z-index: 1;
    }

    img {
        position: relative;
        z-index: 10;
        border-radius: 18px;
        width: 100%;
    }
}

.about-two-img {
    position: relative;
    z-index: 1;
    border-radius: 21px;
    background: var(--Secondary);
    text-align: right;
    min-height: 100%;
    overflow: hidden;

    .first-img {
        position: absolute;
        left: 35px;
        bottom: 30px;
        z-index: 5;
        width: 220px;
    }

    .second-img {
        position: relative;
        bottom: -3rem;
        width: 330px;
        z-index: 20;
    }
}

.about-top-content {
    h2 {
        font-size: clamp(24px, 5vw, 50px);
        font-weight: 400;
    }

    h3 {
        font-size: clamp(30px, 5vw, 50px);
        font-weight: 600;
    }

    p {
        font-size: 18px;
    }

    .about-top-img {
        display: flex;
        align-items: center;

        img {
            flex: 0 0 60px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid var(--White);
            object-fit: cover;
        }

        @for $i from 2 through 20 {
            img:nth-child(#{$i}) {
                transform: translateX(-#{($i - 1) * 20}px);
            }
        }
    }
}

.about-bottom-img {
    border-radius: 18px;
    margin-top: 3rem;

    img {
        border-radius: 18px;
        width: 100%;
    }
}

.about-content {
    text-align: center;

    h2 {
        margin-bottom: 0;
        font-size: clamp(28px, 5vw, 50px);
        display: inline;
        line-height: 1.5;
        margin-right: 0.75rem;
    }

    img {
        width: 150px;
        height: 44px;
        object-fit: cover;
        border-radius: 6rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;

        @media #{rs.$bp-md} {
            margin-bottom: 1rem;
        }

        @media #{rs.$bp-lg} {
            width: 200px;
            height: 60px;
            margin-bottom: 1.5rem;
            margin-right: 0.75rem;
        }
    }
}

.about-section {
    position: relative;
    z-index: 1;

    &.style-one {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--Secondary);
            z-index: -1;
            opacity: 0.8;
        }
    }
}

.story-content {
    background-color: var(--Secondary);
    border-radius: 32px;
    padding: 30px;

    @media #{rs.$bp-sm} {
        padding: 40px;
    }

    @media #{rs.$bp-md} {
        padding: 50px;
    }

    @media #{rs.$bp-lg} {
        padding: 60px;
    }

    @media #{rs.$bp-xl} {
        padding: 70px;
    }

    @media #{rs.$bp-xxl} {
        padding: 80px;
    }

    img {
        border-radius: 20px;
    }
}