@use 'rs';

/* Blog CSS */

.blog-card {
   position: relative;
   z-index: 1;
   transition: var(--Animation-Duration);

   .blog-img {
      border-radius: 20px 20px 0 0;

      img {
         width: 100%;
         border-radius: 20px 20px 0 0;
      }
   }

   .blog-body {
      padding: 30px;
      border-radius: 0 0 20px 20px;
      background-color: var(--Secondary);
      transition: var(--Animation-Duration);
   }

   .blog-meta {
      display: flex;
      align-items: center;
      gap: 10px;

      .dot {
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background-color: var(--Text);
         flex-shrink: 0;
      }

      .post-category,
      .post-date {
         transition: var(--Animation-Duration);
         color: var(--Text);
         font-weight: 400;
         font-size: 16px;

         &:hover,
         &:focus {
            color: var(--Primary);
         }
      }
   }

   .post-title {
      transition: var(--Animation-Duration);
      color: var(--Heading);
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: -1px;

      &:hover,
      &:focus {
         color: var(--Primary);
      }
   }

   &.style-two {
      border: 1px solid var(--Border);
      border-radius: 20px;

      .blog-body {
         padding: 30px 40px;
         background-color: var(--White);
         transition: var(--Animation-Duration);

         p {
            @media #{rs.$bp-xl} {
               font-size: 18px;
            }
         }
      }

      .post-title {
         font-size: clamp(24px, 3vw, 50px);
         line-height: 1.2;
      }
   }
}

.blog-card-two {
   display: flex;

   .blog-img,
   .blog-body {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
      min-height: 100%;
   }

   .blog-img {
      border-radius: 18px 0px 0px 18px;

      img {
         border-radius: 18px 0px 0px 18px;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .blog-meta {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;

      .dot {
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background-color: var(--Text);
         flex-shrink: 0;
      }

      .post-category,
      .post-date {
         transition: var(--Animation-Duration);
         color: var(--Text);
         font-weight: 400;
         font-size: 14px;

         @media #{rs.$bp-md} {
            font-size: 16px;
         }

         &:hover,
         &:focus {
            color: var(--Primary);
         }
      }
   }

   .post-title {
      transition: var(--Animation-Duration);
      color: var(--Heading);
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 60px;
      letter-spacing: -1px;

      &:hover,
      &:focus {
         color: var(--Primary);
      }
   }

   .blog-body {
      padding: 30px 20px;
      background-color: var(--Secondary);
      border-radius: 0 18px 18px 0;

      @media #{rs.$bp-md} {
         padding: 40px 30px;
      }
   }
}

.blog-card-three {
   border-bottom: 1px solid var(--Border);
   padding-bottom: 60px;
   padding-top: 60px;
   cursor: pointer;

   &:first-child {
      padding-top: 0;
   }

   &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
   }

   .blog-img {
      width: 100%;
      position: relative;
      z-index: 1;
      border-radius: 18px;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: var(--Animation-Duration);

      img {
         border-radius: 18px;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      .btn {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   .blog-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      transition: var(--Animation-Duration);
      flex-wrap: wrap;

      @media #{rs.$bp-sm} {
         flex-wrap: nowrap;
      }

      @media #{rs.$bp-xl} {
         gap: 60px;
      }

      @media #{rs.$bp-xxl} {
         gap: 80px;
      }

      .post-author {
         display: flex;
         align-items: center;
         gap: 12px;
         flex-shrink: 0;
         flex: 0 0 100%;
         width: 100%;

         @media #{rs.$bp-sm} {
            flex: 0 0 30%;
            width: 30%;
         }

         img {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 50%;
            object-fit: cover;
         }
      }

      .post-location {
         @media #{rs.$bp-xl} {
            flex-shrink: 0;
         }

         a {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 1rem;
            font-weight: 400;
            color: var(--Text);

            @media #{rs.$bp-sm} {
               flex-wrap: wrap;
            }

            @media #{rs.$bp-xl} {
               font-size: 18px;
            }
         }

         span {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            background-color: var(--Secondary);
            border-radius: 50%;
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--Primary);
         }
      }

      .post-title {
         transition: var(--Animation-Duration);
         color: var(--Heading);
         line-height: 1.4;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         font-size: clamp(24px, 2.5vw, 36px);
         display: block;
         letter-spacing: -1px;

         &:hover,
         &:focus {
            color: var(--Primary);
         }
      }

      .blog-meta {
         display: flex;
         align-items: center;
         gap: 16px;
         flex-wrap: wrap;

         @media #{rs.$bp-xl} {
            gap: 24px;
         }

         .post-comments,
         .post-location {
            transition: var(--Animation-Duration);
            color: var(--Text);
            font-weight: 400;
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 6px;

            @media #{rs.$bp-xl} {
               font-size: 18px;
            }

            i {
               font-size: 24px;
            }

            &:hover,
            &:focus {
               color: var(--Primary);
            }
         }
      }
   }

   &.open {
      .blog-img {
         opacity: 1;
         visibility: visible;
         height: 180px;

         @media #{rs.$bp-md} {
            height: 220px;
         }

         @media #{rs.$bp-lg} {
            height: 260px;
         }

         @media #{rs.$bp-xl} {
            height: 300px;
         }

         @media #{rs.$bp-xxl} {
            height: 350px;
         }
      }

      .blog-body {
         padding-top: 40px;

         @media #{rs.$bp-xl} {
            padding-top: 60px;
         }

         .post-author {
            img {
               border: 2px solid var(--Primary);
            }
         }
      }
   }
}

.blog-card-wrapper {
   display: flex;
   flex-direction: column;
}

/* Single Blog */

.widget-card {
   background-color: var(--Secondary);
   padding: 32px 24px;
   border-radius: 20px;
   width: 100%;

   @media #{rs.$bp-lg} {
      padding: 40px 36px;
   }

   .widget-title {
      font-weight: 600;
      margin-bottom: 1.5rem;
   }

   form {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: 12px;

      .form-control {
         transition: var(--Animation-Duration);
         background-color: var(--White);
         border-radius: 8px;
         height: 54px;
         color: var(--Text);
         border: 1px solid transparent;
         padding-left: 20px;
         padding-right: 20px;

         &::placeholder {
            color: var(--Text);
            opacity: 0.8;
         }

         &:focus {
            box-shadow: none;
            border-color: var(--Border);
         }
      }

      button {
         transition: var(--Animation-Duration);
         background-color: var(--Primary);
         color: var(--White);
         position: absolute;
         right: 0;
         border: 0;
         width: 60px;
         height: 100%;
         border-radius: 0 8px 8px 0;
         font-size: 24px;
         z-index: 10;

         &:hover,
         &:focus {
            color: var(--White);
            background-color: var(--Heading);
         }
      }
   }
}

.blog-list {
   padding: 0;
   list-style: none;
   display: flex;
   flex-direction: column;
   margin-bottom: 0;
   gap: 14px;

   li {
      a {
         position: relative;
         z-index: 1;
         width: 100%;
         height: 54px;
         color: var(--Text);
         background-color: var(--White);
         border-radius: 8px;
         font-size: 16px;
         padding: 10px 20px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-weight: 400;
         transition: var(--Animation-Duration);
         font-family: var(--Font-Secondary);

         @media #{rs.$bp-lg} {
            font-size: 18px;
         }

         &:hover,
         &:focus {
            color: var(--White);
            background-color: var(--Primary);
         }
      }
   }
}

.widget-blog {
   display: flex;
   align-items: center;
   gap: 20px;

   .blog-thumbnail {
      border-radius: 10px;
      flex: 0 0 100px;
      max-width: 100px;

      img {
         width: 100%;
         border-radius: 10px;
      }
   }

   .blog-content {
      .post-date {
         color: var(--Text);
         font-size: 14px;
         font-weight: 400;
         display: block;

         @media #{rs.$bp-xl} {
            font-size: 16px;
         }
      }

      .post-title {
         font-size: 16px;
         font-weight: 500;
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;
         letter-spacing: -1px;

         @media #{rs.$bp-xl} {
            font-size: 18px;
         }

         &:hover,
         &:focus {
            color: var(--Primary);
         }
      }
   }
}

.tag-list {
   display: flex;
   gap: 12px;
   flex-wrap: wrap;

   a {
      padding: 6px 20px;
      color: var(--Heading);
      border: 1px solid var(--Border);
      font-size: 16px;
      font-weight: 400;
      display: block;
      border-radius: 6rem;
      background-color: transparent;
      transition: var(--Animation-Duration);

      &:hover,
      &:focus {
         background-color: var(--Primary);
         border-color: var(--Primary);
         color: var(--White);
      }
   }
}

.startix-pagination {
   display: flex;
   align-items: center;
   gap: 12px;
   justify-content: center;

   li {
      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 36px;
         height: 36px;
         border-radius: 50%;
         font-size: 14px;
         font-weight: 400;
         background-color: transparent;
         color: var(--Heading);
         border: 1px solid var(--Border);
         font-family: var(--Font-Secondary);

         @media #{rs.$bp-sm} {
            width: 42px;
            height: 42px;
         }

         @media #{rs.$bp-md} {
            width: 50px;
            height: 50px;
            font-size: 1rem;
         }

         &:hover,
         &:focus {
            background-color: var(--Primary);
            border-color: var(--Primary);
            color: var(--White);
         }
      }

      &.active {
         a {
            background-color: var(--Primary);
            border-color: var(--Primary);
            color: var(--White);
         }
      }
   }
}

.quote-card {
   border-radius: 10px;
   background: var(--Secondary);
   padding: 32px 24px;
   display: flex;
   gap: 24px;

   @media #{rs.$bp-lg} {
      padding: 40px 36px;
   }

   svg {
      width: 60px;
      flex-shrink: 0;
   }

   p {
      font-size: 18px;
      margin-bottom: 0;
      color: var(--Heading);

      @media #{rs.$bp-lg} {
         font-size: 20px !important;
      }
   }
}

.blog-comments-list {
   display: flex;
   flex-direction: column;
   gap: 32px;
   list-style: none;
   padding: 0;

   @media #{rs.$bp-xl} {
      gap: 48px;
   }

   ul {
      list-style: none;
      padding-left: 24px;

      @media #{rs.$bp-sm} {
         padding-left: 48px;
      }
   }

   .single-comment {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media #{rs.$bp-xl} {
         gap: 48px;
      }

      ul {
         display: flex;
         flex-direction: column;
         gap: 32px;

         @media #{rs.$bp-xl} {
            gap: 48px;
         }
      }
   }
}

.comment-content {
   display: flex;
   gap: 24px;

   img {
      flex: 0 0 60px;
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 10px;

      @media #{rs.$bp-xl} {
         flex: 0 0 90px;
         width: 90px;
         height: 90px;
      }
   }
}

.comment-form {
   .form-control {
      background-color: var(--Secondary);
   }
}

.tag-share-wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 48px;
   padding: 20px 0;
   border-top: 1px solid var(--Border);
   border-bottom: 1px solid var(--Border);

   @media #{rs.$bp-xl} {
      padding: 24px 0;
   }

   .tag-list {
      display: flex;
      align-items: center;
      gap: 10px;

      li {
         font-size: 14px;
         font-weight: 600;
         color: var(--Heading);
         font-family: var(--Font-Primary);

         @media #{rs.$bp-xl} {
            font-size: 16px;
         }

         a {
            transition: var(--Animation-Duration);
            border: 1px solid var(--Border);
            border-radius: 5rem;
            padding: 8px 20px;
            color: var(--Text);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            max-height: 32px;

            &:hover,
            &:focus {
               background-color: var(--Primary);
               color: var(--White);
            }
         }
      }
   }

   .share-list {
      display: flex;
      align-items: center;
      gap: 10px;

      li {
         font-size: 16px;
         font-weight: 600;

         a {
            padding: 0px 6px !important;
            color: var(--Text);
            font-size: 18px;

            &:hover,
            &:focus {
               color: var(--Primary);
            }
         }
      }
   }
}

.single-blog-content {
   display: flex;
   flex-direction: column;
   gap: 24px;

   h1,
   .h1,
   h2,
   .h2,
   h3,
   .h3,
   h4,
   .h4,
   h5,
   .h5,
   h6,
   .h6 {
      margin-bottom: 0;
   }

   p {
      font-size: 1rem;
      margin-bottom: 0;

      @media #{rs.$bp-lg} {
         font-size: 18px;
      }
   }

   img {
      border-radius: 20px;
      width: 100%;
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: var(--Heading);
      font-weight: 500;
      line-height: 1.2;
      transition: var(--Animation-Duration);
      background-image: none;
      font-size: clamp(26px, 5vw, 54px);
      pointer-events: none;
      letter-spacing: -1px;
   }

   .blog-meta {
      border-bottom: 1px solid var(--Border);
      padding-bottom: 20px;

      a {
         font-size: 16px;
         font-weight: 400;
         color: var(--Text);
         display: flex;
         align-items: center;
         gap: 6px;

         i {
            font-size: 20px;
            color: var(--Primary);
         }

         &:hover,
         &:focus {
            color: var(--Primary);
         }
      }
   }
}