@use 'rs';

/* Breadcrumb CSS */

.breadcrumb-section {
   position: relative;
   z-index: 1;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      background: linear-gradient(0deg, rgba(49, 71, 255, 0.94) 0%, rgba(15, 23, 91, 0.94) 96.97%);
   }

   .breadcrumb-content {
      text-align: center;
      padding-top: 140px;

      @media #{rs.$bp-xl} {
         padding-top: 160px;
      }

      h2 {
         color: var(--White);
         font-size: clamp(32px, 5vw, 80px);
         line-height: 1.1;

         @media #{rs.$bp-xl} {
            margin-bottom: 1rem;
         }
      }

      ul {
         display: inline-flex;
         justify-content: center;
         flex-wrap: wrap;
         align-items: center;
         gap: 8px;

         li {
            color: var(--Secondary);
            font-size: 14px;
            font-weight: 400;
            font-family: var(--Font-Primary);
            line-height: 1.1;

            @media #{rs.$bp-xl} {
               font-size: 16px;
            }

            a {
               color: rgba(247, 248, 255, 0.50);
               font-size: 14px;
               position: relative;
               z-index: 1;
               padding-right: 12px;
               font-weight: 400;
               transition: var(--Animation-Duration);
               font-family: var(--Font-Primary);
               line-height: 1.1;

               @media #{rs.$bp-xl} {
                  font-size: 16px;
               }

               &:hover,
               &:focus {
                  color: var(--Secondary);
               }

               &::after {
                  content: '\f4f9';
                  position: absolute;
                  right: -5px;
                  top: 55%;
                  transform: translateY(-50%);
                  font-family: var(--Font-Tabler);
                  font-size: 16px;
                  color: var(--Secondary);
               }
            }
         }
      }
   }
}