@use 'rs';

/* CTA CSS */

.cta-section {
    position: relative;
    z-index: 1;
    background-color: var(--Primary);
    overflow: hidden;

    h2 {
        font-weight: 600;
        font-size: clamp(36px, 5vw, 80px);
        letter-spacing: -2px;
    }

    p {
        @media #{rs.$bp-md} {
            font-size: 18px;
        }
    }

    .cta-circles {
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            &:nth-child(1) {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.1);

                @media #{rs.$bp-lg} {
                    width: 600px;
                    height: 600px;
                }

                @media #{rs.$bp-xxl} {
                    width: 950px;
                    height: 950px;
                }
            }

            &:nth-child(2) {
                width: 500px;
                height: 500px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.075);

                @media #{rs.$bp-lg} {
                    width: 800px;
                    height: 800px;
                }

                @media #{rs.$bp-xxl} {
                    width: 1250px;
                    height: 1250px;
                }
            }

            &:nth-child(3) {
                width: 700px;
                height: 700px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.05);

                @media #{rs.$bp-lg} {
                    width: 1000px;
                    height: 1000px;
                }

                @media #{rs.$bp-xxl} {
                    width: 1500px;
                    height: 1500px;
                }
            }
        }
    }

    .cta-content {
        position: relative;
        z-index: 100;
    }
}

.download-app-img {
    position: relative;
    z-index: 1;
    text-align: center;

    .download-app-img-two {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.cta-content {
    hr {
        background-color: rgba(255, 255, 255, 0.30);
        margin-top: 100px;
    }
}

.cool-fact-card {
    display: flex;
    align-items: center;
    gap: 20px;

    .cta-icon {
        display: flex;
        width: 70px;
        height: 70px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(250, 62, 95, 0.10);
    }

    h2 {
        font-size: clamp(28px, 4vw, 50px);
        color: var(--White);
        flex-shrink: 0;
        line-height: 1;
    }

    p {
        color: var(--White);
    }
}

.app-cool-facts-section {
    position: relative;
    z-index: 1;
    padding-top: 320px;

    @media #{rs.$bp-sm} {
        padding-top: 240px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    .app-video {
        position: absolute;
        top: 20%;
        right: 0;
        transform: translateY(-50%);
        width: 260px;
        height: 130px;
        border-radius: 75px 0px 0px 75px;
        background: var(--White);
        z-index: 100;
        display: flex;
        align-items: center;
        padding-left: 40px;

        @media #{rs.$bp-sm} {
            top: 50%;
        }

        @media #{rs.$bp-lg} {
            width: 350px;
        }

        @media #{rs.$bp-xl} {
            width: 450px;
        }

        @media #{rs.$bp-xxl} {
            width: 600px;
            height: 150px;
            top: 50%;
        }

        .play-video-btn {
            display: inline-flex;
            align-items: center;
            gap: 32px;

            .icon {
                position: relative;
                width: 60px;
                height: 60px;
                flex-shrink: 0;
                border: 1px solid var(--Primary);
                color: var(--Primary);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 24px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80px;
                    height: 80px;
                    border: 1px solid rgba(116, 68, 253, 0.3);
                    border-radius: 50%;
                    z-index: -1;
                }
            }
        }
    }
}

.app-cool-facts-card {
    display: inline-flex;
    align-items: stretch;
    border-radius: 20px 20px 0 0;
    background-color: var(--Primary);

    >div {
        width: 148px;
        padding: 30px 16px;
        flex-shrink: 0;
        text-align: center;
        min-height: 100%;

        @media #{rs.$bp-md} {
            width: 200px;
        }

        @media #{rs.$bp-xxl} {
            width: 220px;
            padding: 40px 16px;
        }

        h2 {
            color: var(--White);
            font-size: clamp(28px, 5vw, 50px);
            margin-bottom: 1rem;
            line-height: 1;
        }

        h5 {
            color: var(--White);
            font-size: 14px;

            @media #{rs.$bp-md} {
                font-size: 1rem;
            }

            @media #{rs.$bp-xxl} {
                font-size: 1.25rem;
            }
        }

        &:last-child {
            background-color: #FA3E5F;
            border-radius: 0 20px 0 0;
        }
    }
}

.cool-facts {
    text-align: center;
    background-color: var(--Primary);
    padding: 3rem 1rem;
    height: 100%;

    @media #{rs.$bp-xl} {
        padding: 4rem 1rem;
    }

    h2 {
        font-size: clamp(36px, 4vw, 50px);
        margin-bottom: 1rem;
        line-height: 1;
        color: var(--White);
    }

    p {
        color: var(--White);

        @media #{rs.$bp-xl} {
            font-size: 18px;
        }
    }
}

.cool-facts-wrap {
    .row {
        .col-12 {
            &:first-child {
                .cool-facts {
                    border-radius: 20px 20px 0 0;

                    @media #{rs.$bp-sm} {
                        border-radius: 20px 0 0 0;
                    }

                    @media #{rs.$bp-lg} {
                        border-radius: 20px 0 0 20px;
                    }
                }
            }

            &:nth-child(2) {
                .cool-facts {
                    background-color: #2F43EC;

                    @media #{rs.$bp-sm} {
                        border-radius: 0 20px 0 0;
                    }

                    @media #{rs.$bp-lg} {
                        border-radius: 0;
                    }
                }
            }

            &:nth-child(3) {
                .cool-facts {
                    @media #{rs.$bp-sm} {
                        border-radius: 0 0 0 20px;
                        background-color: #2F43EC;
                    }

                    @media #{rs.$bp-lg} {
                        border-radius: 0;
                        background-color: var(--Primary);
                    }
                }
            }

            &:last-child {
                .cool-facts {
                    border-radius: 0 0 20px 20px;
                    background-color: #2F43EC;

                    @media #{rs.$bp-sm} {
                        border-radius: 0 0 20px 0;
                        background-color: var(--Primary);
                    }

                    @media #{rs.$bp-lg} {
                        border-radius: 0 20px 20px 0;
                        background-color: #2F43EC;
                    }
                }
            }
        }
    }
}