@use 'rs';

/* Hero CSS */

.hero-content {
   margin-top: 60px;

   @media #{rs.$bp-md} {
      margin-top: 70px;
   }

   @media #{rs.$bp-lg} {
      margin-top: 80px;
   }

   @media #{rs.$bp-xl} {
      margin-top: 100px;
   }

   h2 {
      font-size: clamp(42px, 5vw, 80px);
      font-weight: 600;
      line-height: 1.2;
   }

   h5 {
      color: var(--White);
      line-height: 1.5;
   }

   .subtitle {
      padding: 10px 18px;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.10);
      font-size: 16px;
      text-transform: uppercase;
      color: var(--White);
      display: inline-block;
      font-weight: 400;

      @media #{rs.$bp-xl} {
         font-size: 18px;
      }
   }

   p {
      font-size: 1rem;
      margin-bottom: 2rem;

      @media #{rs.$bp-xl} {
         font-size: 1.25rem;
         margin-bottom: 40px;
      }
   }
}

.imgs-group {
   display: flex;
   align-items: center;

   img {
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #FEFEFE;
      object-fit: cover;
      
      &:not(:first-child) {
         margin-left: -25px;
      }

      @media #{rs.$bp-xxl} {
         flex: 0 0 60px;
         width: 60px;
         height: 60px;

         &:not(:first-child) {
            margin-left: -30px;
         }
      }
   }

   > div {
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #FEFEFE;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--Primary);
      color: var(--White);
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin-left: -25px;

      @media #{rs.$bp-xxl} {
         flex: 0 0 60px;
         width: 60px;
         height: 60px;
         margin-left: -30px;
      }
   }

   &.style-two {
      img {
         border: 2px solid var(--Heading);
      }
   }
}

.hero-image {
   position: relative;
   z-index: 1;
   margin-top: 50px;

   @media #{rs.$bp-xl} {
      margin-top: 100px;
   }

   .bg-shape {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      img {
         width: 100%;
      }
   }

   &.style-two {
      .curve-img {
         border-radius: 322rem 322rem 0 0;
      }

      .floating-img {
         border-radius: 12px;
         box-shadow: 0 30px 42px 0 rgba(5, 38, 37, 0.08);
         position: absolute;
         z-index: 100;
         bottom: 50px;
         right: -125px;
      }
   }
}

.hero-cool-facts {
   display: flex;
   align-items: center;
   gap: 24px;

   .line {
      width: 1.5px;
      height: 39px;
      background-color: rgba(86, 86, 86, 0.30);
      flex-shrink: 0;
   }

   .rating {
      display: flex;
      align-items: center;
      gap: 2px;
      color: var(--Warning);
      font-size: 16px;
   }
}

.hero-section {
   position: relative;
   z-index: 1;
   background-color: var(--Background);
   padding-top: 142px;

   @media #{rs.$bp-xl} {
      padding-top: 160px;
   }

   &.style-two {
      background-color: var(--Secondary);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 90px;

      @media #{rs.$bp-xl} {
         padding-top: 110px;
      }

      .hero-content {
         padding-top: 60px;
         margin-top: 0;

         @media #{rs.$bp-xl} {
            margin-top: 100px;
            padding-bottom: 100px;
         }
      }

      .bottom-curve {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 24px;
         z-index: 100;
      }
   }

   &.style-three {
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 113px;
      padding-bottom: 80px;

      @media #{rs.$bp-xl} {
         padding-top: 133px;
         padding-bottom: 116px;
      }

      .hero-shape {
         position: absolute;
         z-index: 10;
         top: 50%;
         left: -1rem;
         transform: translateY(-50%);

         span {
            width: 146px;
            height: 146px;
            border: 2px solid rgba(250, 62, 95, 0.10);
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:nth-child(2) {
               width: 220px;
               height: 220px;
            }

            &:nth-child(3) {
               width: 293px;
               height: 293px;
            }

            &:nth-child(4) {
               width: 366px;
               height: 366px;
            }

            &:nth-child(5) {
               width: 439px;
               height: 439px;
            }
         }
      }

      .hero-shape-two {
         position: absolute;
         left: 40%;
         bottom: 15%;
         z-index: -1;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

   &.style-four {
      position: relative;
      z-index: 1;
      height: 900px;
      padding-top: 90px;
      padding-bottom: 60px;

      @media #{rs.$bp-md} {
         height: 700px;
      }

      @media #{rs.$bp-xl} {
         padding-top: 110px;
         padding-bottom: 124px;
         height: 950px;
      }

      @media #{rs.$bp-xxl} {
         height: 1080px;
      }

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         width: 100%;
         height: 100%;
         z-index: -1;
         background-color: rgba(16, 16, 16, 0.7);
      }

      .hero-content {
         margin-left: 5%;
         margin-right: 5%;

         h2 {
            font-size: clamp(42px, 5vw, 120px);
            color: var(--White);
         }

         p {
            color: var(--White);
            font-size: clamp(16px, 2vw, 20px);
         }
      }
   }
}

.col-hero-img {
   order: 21;

   @media #{rs.$bp-lg} {
      order: 0;
   }
}