@use 'rs';

/* Newsletter CSS */

.newsletter-form {
    position: relative;
    z-index: 1;

    .form-control {
        width: 100%;
        border-radius: 40px;
        height: 60px;
        padding: 0 30px;
        border: 0;
        background-color: var(--White);
    }

    .btn {
        position: absolute;
        height: 48px;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}