@use 'rs';

/* Pricing CSS */

.pricing-card {
    transition: var(--Animation-Duration);
    border-radius: 20px;
    background-color: var(--White);
    padding: 36px 24px;
    height: 100%;
    overflow: hidden;

    @media #{rs.$bp-xxl} {
        padding: 40px 36px;
    }

    .pricing-header {
        position: relative;
        z-index: 1;

        h2 {
            font-size: clamp(24px, 3vw, 36px);
            text-align: center;
            background-color: var(--Secondary);
            padding: 24px;
            border-radius: 10px;
            transition: var(--Animation-Duration);

            span {
                font-size: 16px;
                font-weight: 400;
                font-family: var(--Font-Secondary);

                @media #{rs.$bp-lg} {
                    font-size: 18px;
                }
            }
        }

        .yearly-price {
            display: none;
        }
    }

    .pricing-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 30px;
        margin-bottom: 30px;

        @media #{rs.$bp-xl} {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @media #{rs.$bp-xxl} {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        li {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 16px;
            color: var(--Heading);

            @media #{rs.$bp-xl} {
                font-size: 18px;
            }

            span {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1_955)'%3E%3Cpath d='M11.9426 22.9398C18.0162 22.9398 22.9398 18.0162 22.9398 11.9426C22.9398 5.86895 18.0162 0.945312 11.9426 0.945312C5.86895 0.945312 0.945312 5.86895 0.945312 11.9426C0.945312 18.0162 5.86895 22.9398 11.9426 22.9398Z' fill='%233147FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.55453 11.1681C7.14953 10.8976 6.60852 10.9591 6.27352 11.3131C5.93902 11.6666 5.90752 12.2106 6.20002 12.6001L9.20002 16.6001C9.38102 16.8411 9.66102 16.9881 9.96252 16.9996C10.2635 17.0106 10.554 16.8856 10.7525 16.6586L17.7525 8.65859C18.098 8.26409 18.0795 7.66959 17.7105 7.29659C17.3415 6.92359 16.7475 6.89959 16.349 7.24059L9.92452 12.7476L7.55453 11.1681Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9423 0.445312C5.59662 0.445312 0.445312 5.59662 0.445312 11.9423C0.445312 18.288 5.59662 23.4393 11.9423 23.4393C18.288 23.4393 23.4393 18.288 23.4393 11.9423C23.4393 5.59662 18.288 0.445312 11.9423 0.445312ZM11.9423 1.44477C17.7361 1.44477 22.4398 6.14853 22.4398 11.9423C22.4398 17.7361 17.7361 22.4398 11.9423 22.4398C6.14853 22.4398 1.44477 17.7361 1.44477 11.9423C1.44477 6.14853 6.14853 1.44477 11.9423 1.44477Z' fill='%233147FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.83207 10.7521C7.22407 10.3466 6.41258 10.4386 5.91058 10.9691C5.40808 11.5001 5.36158 12.3156 5.80008 12.9001L8.80008 16.9001C9.07158 17.2621 9.49157 17.4821 9.94357 17.4991C10.3956 17.5161 10.8311 17.3281 11.1291 16.9881L18.1291 8.98809C18.6471 8.39559 18.6196 7.50409 18.0661 6.94509C17.5126 6.38559 16.6211 6.34908 16.0241 6.86108L9.88658 12.1216L7.83207 10.7521ZM7.27757 11.5841L9.64708 13.1641C9.83358 13.2881 10.0796 13.2731 10.2501 13.1276L16.6746 7.62058C16.8736 7.44958 17.1711 7.46208 17.3556 7.64858C17.5401 7.83458 17.5491 8.13208 17.3766 8.32958L10.3766 16.3296C10.2771 16.4426 10.1321 16.5056 9.98108 16.4996C9.83058 16.4941 9.69058 16.4206 9.60008 16.3001L6.60008 12.3001C6.45408 12.1051 6.46957 11.8336 6.63707 11.6566C6.80407 11.4796 7.07457 11.4491 7.27757 11.5841Z' fill='%233147FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_955'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;

                &.no {
                    opacity: 0.5;
                }
            }
        }
    }

    &:hover,
    &:focus {
        .pricing-header {
            h2 {
                background-color: var(--Primary);
                color: var(--White);
            }
        }
    }

    &.style-two {
        background-color: var(--Secondary);
        border-radius: 18px;

        .pricing-header {
            transition: var(--Animation-Duration);
            border-radius: 12px 12px 18px 18px;
            background-color: var(--White);
            padding: 24px;

            h4,
            p,
            span {
                transition: var(--Animation-Duration);
            }

            hr {
                background: rgba(31, 31, 31, 0.10);
                margin-top: 24px;
                margin-bottom: 24px;
            }

            h2 {
                transition: var(--Animation-Duration);
                font-size: clamp(24px, 4vw, 50px);
                background-color: transparent;
                padding: 0;
                border-radius: 0;
                text-align: left;

                span {
                    font-size: 16px;
                }
            }
        }

        .pricing-content {
            padding-left: 1rem;
            padding-right: 0;

            li span {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cg clip-path='url(%23clip0_1_2298)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.81362 13.0307C8.34112 12.7152 7.70994 12.7869 7.31911 13.1999C6.92886 13.6123 6.89211 14.247 7.23336 14.7014L10.7334 19.3681C10.9445 19.6493 11.2712 19.8207 11.6229 19.8342C11.9741 19.847 12.313 19.7012 12.5446 19.4363L20.7113 10.103C21.1144 9.64274 21.0928 8.94916 20.6623 8.51399C20.2318 8.07882 19.5388 8.05082 19.0739 8.44866L11.5786 14.8735L8.81362 13.0307Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9327 0.519531C6.52939 0.519531 0.519531 6.52939 0.519531 13.9327C0.519531 21.336 6.52939 27.3458 13.9327 27.3458C21.336 27.3458 27.3458 21.336 27.3458 13.9327C27.3458 6.52939 21.336 0.519531 13.9327 0.519531ZM13.9327 1.68557C20.6921 1.68557 26.1798 7.17329 26.1798 13.9327C26.1798 20.6921 20.6921 26.1798 13.9327 26.1798C7.17329 26.1798 1.68557 20.6921 1.68557 13.9327C1.68557 7.17329 7.17329 1.68557 13.9327 1.68557Z' fill='%23FA3E5F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.13872 12.5428C8.42939 12.0697 7.48265 12.177 6.89698 12.796C6.31073 13.4155 6.25648 14.3669 6.76806 15.0488L10.2681 19.7155C10.5848 20.1378 11.0748 20.3945 11.6021 20.4143C12.1295 20.4341 12.6376 20.2148 12.9852 19.8181L21.1519 10.4848C21.7562 9.79355 21.7241 8.75347 21.0784 8.1013C20.4326 7.44855 19.3926 7.40595 18.6961 8.00329L11.5356 14.1406L9.13872 12.5428ZM8.4918 13.5135L11.2562 15.3568C11.4738 15.5015 11.7608 15.484 11.9597 15.3142L19.455 8.88938C19.6871 8.68988 20.0342 8.70446 20.2495 8.92204C20.4647 9.13904 20.4752 9.48613 20.274 9.71654L12.1073 19.0499C11.9912 19.1817 11.8221 19.2552 11.6459 19.2482C11.4703 19.2418 11.307 19.156 11.2014 19.0155L7.7014 14.3488C7.53106 14.1213 7.54913 13.8045 7.74455 13.598C7.93938 13.3915 8.25497 13.356 8.4918 13.5135Z' fill='%23FA3E5F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2298'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }

        &.active,
        &:hover,
        &:focus {
            .pricing-header {
                background-color: var(--Primary);

                hr {
                    border-color: var(--White);
                }

                h4,
                p {
                    color: var(--White);
                }

                h2 {
                    background-color: transparent;
                    color: var(--White);

                    span {
                        color: var(--Secondary);
                    }
                }
            }
        }
    }

    &.style-three {
        background-color: var(--Secondary);

        .pricing-header {
            h2 {
                font-size: clamp(24px, 5vw, 50px);
                background-color: transparent;
                padding: 0;
                border-radius: 0;
                text-align: left;
                color: var(--Heading);

                span {
                    font-size: 16px;
                }
            }
        }

        .pricing-content {
            padding: 0 !important;
            margin: 0;
        }

        .pricing-footer {
            margin: 40px 0;
        }
    }
}

.price-plan-switch {
    .form-switch {
        padding-left: 0;

        .form-check-input {
            width: 70px;
            height: 32px;
            flex-shrink: 0;
            margin-left: 0;
            border-radius: 5rem;
            background-color: var(--Primary);
            border: 0;
        }
    }

    .form-check {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .form-check-label {
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            font-family: var(--Font-Primary);
        }

        .form-check-input {
            float: none;
            margin-left: 0;
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
        }
    }
}

.pricing-section {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}