@use 'rs';

/* Process CSS */

.process-card {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;

    img {
        transition: var(--Animation-Duration);
        max-height: 200px;
    }

    .step-number {
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 16px;
            border-radius: 100px;
            background: var(--Primary);
            color: var(--White);
            padding: 5px 15px;
            display: inline;
            text-transform: uppercase;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            border-top: 2px dashed var(--Primary);
            z-index: -10;
            opacity: 0.4;
        }
    }

    .process-body {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &:hover,
    &:focus {
        img {
            transform: translateY(-8px);
        }
    }
}

.get-started-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--Border);
    transition: var(--Animation-Duration);
    color: var(--Heading);

    span {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--Primary);
        color: var(--White);
        font-size: 20px;
    }

    h6 {
        color: var(--Heading);
    }

    &:hover,
    &:focus {
        padding-left: 1rem;
        padding-right: 1rem;
        color: var(--Primary);

        h6 {
            color: var(--Primary);
        }
    }
}