@use 'rs';

/* Team CSS */

.team-card {
    position: relative;
    z-index: 1;
    transition: var(--Animation-Duration);
    border-radius: 20px;
    background-color: var(--Secondary);
    padding: 10px;

    .team-img {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 12px 12px 20px 20px;

        img {
            width: 100%;
            transition: var(--Animation-Duration);
            border-radius: 12px 12px 20px 20px;
        }

        .team-social {
            position: absolute;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            transition: var(--Animation-Duration);

            a {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                font-size: 18px;
                color: var(--White);
                background-color: var(--Background);
                transition: var(--Animation-Duration);
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover,
                &:focus {
                    background-color: var(--Primary);
                    color: var(--White);
                }
            }
        }
    }

    h4,
    p,
    .member-title {
        transition: var(--Animation-Duration);
    }

    p {
        font-size: 18px;
    }

    &:hover,
    &:focus {
        background-color: var(--Background);

        .team-social {
            bottom: 24px;
            opacity: 1;
            visibility: visible;
        }

        h4,
        p,
        .member-title {
            color: var(--White);
        }
    }
}

.team-card-two {
    position: relative;
    z-index: 1;
    border-radius: 18px;
    transition: var(--Animation-Duration);

    img {
        width: 100%;
        border-radius: 18px;
    }

    .team-social {
        transition: var(--Animation-Duration);
        position: absolute;
        z-index: 10;
        top: 40px;
        right: 40px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            font-size: 18px;
            color: var(--Heading);
            background-color: var(--Secondary);
            transition: var(--Animation-Duration);
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover,
            &:focus {
                background-color: var(--Primary);
                color: var(--White);
            }
        }
    }
}

.team-card-three {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--Animation-Duration);
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: var(--Secondary);

    .team-img {
        position: relative;
        z-index: 1;
        border-radius: 20px 20px 0 0;

        img {
            border-radius: 20px 20px 0 0;
            width: 100%;
        }
    }

    .team-body {
        padding: 24px;
        transition: var(--Animation-Duration);
    }

    .social-nav-trigger {
        position: absolute;
        z-index: 10;
        right: 20px;
        bottom: -22px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--White);
        background-color: var(--Primary);
        transition: var(--Animation-Duration);
        border: 0;
        font-size: 24px;

        i.ti-minus {
            display: none;
        }

        &.active {
            i.ti-minus {
                display: block;
            }

            i.ti-plus {
                display: none;
            }
        }

        &:hover,
        &:focus {
            background-color: var(--Heading);
            color: var(--White);
        }
    }

    .social-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 100;
        right: 20px;
        bottom: 30px;
        gap: 8px;

        a {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            color: var(--Heading);
            background-color: var(--White);
            opacity: 0;
            transform: translateY(10px);
            transition: var(--Animation-Duration);
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover,
            &:focus {
                background-color: var(--Primary);
                color: var(--White);
            }

            &.show {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    h5 {
        transition: var(--Animation-Duration);
    }

    &:hover,
    &:focus {
        transform: translateY(-10px);
        border-color: var(--Border);

        h5 {
            color: var(--Primary);
        }
    }
}

.team-details-content {
    h2 {
        font-size: clamp(24px, 2.5vw, 50px);
    }

    .social-nav {
        display: flex;
        align-items: center;
        gap: 8px;

        a {
            transition: var(--Animation-Duration);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            font-size: 16px;
            color: var(--White);
            background-color: var(--Heading);

            @media #{rs.$bp-xl} {
                width: 44px;
                height: 44px;
                font-size: 20px;
            }

            &:hover,
            &:focus {
                background-color: var(--Primary);
                color: var(--White);
                transform: translateY(-5px);
            }
        }
    }
}

.team-nav-list {
    gap: 30px;

    @media #{rs.$bp-xxl} {
        gap: 40px;
    }

    .nav-link {
        padding: 0;
    }

    .team-nav {
        padding: 12px 20px;
        border: 1px solid rgba(15, 15, 15, 0.30);
        background: var(--White);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        cursor: pointer;
        transition: var(--Animation-Duration);
        flex-wrap: wrap;

        @media #{rs.$bp-lg} {
            flex-wrap: nowrap;
            border-radius: 10rem;
        }

        @media #{rs.$bp-xl} {
            padding: 20px 30px;
        }

        @media #{rs.$bp-xxl} {
            gap: 80px;
        }

        h2 {
            font-size: clamp(24px, 2.5vw, 36px);
        }

        p {
            color: var(--Heading);

            @media #{rs.$bp-lg} {
                font-size: 18px;
            }
        }

        .btn-team {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            flex-shrink: 0;
            font-size: 24px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--White);
            background-color: var(--Primary);
            transition: var(--Animation-Duration);

            &:hover,
            &:focus {
                transform: scale(1.15);
            }
        }
    }

    .nav-link.active {
        .team-nav {
            background-color: var(--Primary);
            border-color: var(--Primary);
            color: var(--White);

            h2,
            p {
                color: var(--White);
            }

            .btn-team {
                background-color: var(--White);
                color: var(--Primary);
            }
        }
    }
}

.team-details-section {
    img {
        width: 100%;
        border-radius: 20px;
    }

    p {
        font-size: 18px;
    }
}

.experience-info {
    p {
        font-size: 16px;

        @media #{rs.$bp-lg} {
            font-size: 18px;
        }
    }
}

.progress-item {
    .progress {
        width: 100%;
        height: 12px;
        border-radius: 1rem;
        background: rgba(255, 175, 1, 0.3);
        padding: 3px;
    }

    .progress-bar {
        border-radius: 1rem;
        background: #FFAF01;
    }

    .progress-info {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: 18px;
        font-weight: 600;
        color: var(--Heading);

        svg {
            transform: translateY(8px);
            
            path {
                fill: #FFAF01;
            }
        }

        .percentage {
            position: absolute;
            z-index: 100;
            right: 0;
        }
    }

    &:nth-child(2) {
        .progress-info {
            svg {
                path {
                    fill: #C700B1;
                }
            }
        }

        .progress {
            background: rgba(199, 0, 177, 0.3);
        }

        .progress-bar {
            background: #C700B1;
        }
    }

    &:last-child {
        .progress-info {
            svg {
                path {
                    fill: #1352FC;
                }
            }
        }

        .progress {
            background: rgba(19, 82, 252, 0.3);
        }

        .progress-bar {
            background: #1352FC;
        }
    }
}