@use 'rs';

/* Video CSS */

.popup-video {
   position: relative;
   z-index: 1;

   .video-btn {
      position: relative;
      z-index: 1;
      transition: var(--Animation-Duration);
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: var(--Primary);
      align-items: center;
      justify-content: center;
      color: var(--White);
      font-size: 12px;
      cursor: pointer;
   }
}

.video-popup-iframe {
   background-color: rgba(0, 0, 0, 0.9);
   transition: var(--Animation-Duration);
   display: none;
   position: fixed;
   z-index: 999999999;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;

   .video-content {
      position: relative;
      width: 90%;
      max-width: 900px;
      padding: 0;
      z-index: 1;

      iframe {
         border-radius: 8px;
      }

      .close-btn {
         transition: var(--Animation-Duration);
         position: absolute;
         top: -3rem;
         right: 0;
         z-index: 1000;
         width: 30px;
         height: 30px;
         border-radius: 50%;
         border: 0;
         font-size: 1rem;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: var(--White);
         color: var(--Heading);
         cursor: pointer;

         &:hover,
         &:focus {
            background-color: var(--Heading);
            color: var(--White);
         }

         @media #{rs.$bp-lg} {
            top: -1.75rem;
            right: -1.75rem;
         }
      }
   }
}

@keyframes video-sonar {
   0% {
      opacity: 1;
      transform: scale(0.5);
   }

   100% {
      opacity: 0;
      transform: scale(1.3);
   }
}


.video-sonar {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   top: 0;
   left: 0;
   z-index: -10;
   background-color: var(--White);
   animation: video-sonar 2s linear infinite;

   &::before {
      position: absolute;
      width: 160%;
      height: 160%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.8);
      content: '';
      top: 50%;
      left: 50%;
      z-index: -100;
      transform: translate(-50%, -50%);
   }

   &::after {
      position: absolute;
      width: 130%;
      height: 130%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.8);
      content: "";
      top: 50%;
      left: 50%;
      z-index: -50;
      transform: translate(-50%, -50%);
   }
}